<button class="button-show-menu button-show-menu-visible">
    <i class="fas fa-bars"></i>
    <span class="hidden-text">Show menu</span>
  </button>
  
  <div class="menu-container menu-hidden">
    <button class="button-close-menu button-close-menu-visible">
      <i class="fas fa-times-circle"></i>
      <span class="hidden-text">Close menu</span>
    </button>
  
    <div class="menu-content">
      <nav class="menu-nav">
        <a href="{% url 'recipes-home' %}"><strong>Home</strong></a>
  
        {% if user.is_authenticated %}
          <a href="{% url 'authors-dashboard-recipe-create' %}"><strong>New recipe</strong></a>
          <a href="{% url 'authors-dashboard' %}"><strong>Dashboard</strong></a>
          <a href="{% url 'authors-logout' %}"><strong>Logout</strong></a>
        {% else %}
          <a href="{% url 'authors-login' %}"><strong>Login</strong></a>
          <a href="{% url 'authors-register' %}"><strong>Register</strong></a>
      {% endif %}
      </nav>
    </div>
  </div>