{% extends 'global/base.html' %}

{% block title %} Login | {% endblock %}
{% block content %}
<div class="main-content center container">
    <h2>Login</h2>
    {% if request.user.is_authenticated %}
      <div class="periferic-content center">
        Você foi logado como {{ request.user.username }}.
        Por favor, <a href="{% url 'authors-logout' %}">clique aqui</a> 
        para efetuar log out.
      </div>
    {% endif %}
  </div>
    {% include 'global/partials/messages.html' %}
    {% include 'global/partials/form.html' %}
{% endblock %}
